@page  
{ 
    size: auto;   /* auto is the initial value */ 

    /* this affects the margin in the printer settings */ 
    margin: 20mm 20mm 20mm 20mm;  
} 
.print .wifi {
	text-align: center;
}
.print .wifi img {
	width: 3cm;
}
.print .ssid {
	text-align: center;
	font-size: 70px;
	font-weight: bold;
}
.print .key {
	text-align: center;
	font-size: 50px;
}
.print .key img {
	text-align:center;
	height: 1.5cm;
	margin-right: 0.3cm;
	vertical-align: middle
}

#qrcode {
	margin-top: 1cm;
	width: 100%;
	text-align: center;
}
.source {
	font-style: italic;
	width:100%;
	text-align: center;
	margin-top: 1cm;
}
