@page  
{ 
    size: auto;   /* auto is the initial value */ 

    /* this affects the margin in the printer settings */ 
    margin: 30mm 30mm 30mm 30mm;  
} 
.print .ssid img,
.print .key img {
	width: 5cm;
}

#qrcode {
	margin-top: 3cm;
}
